<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <form action="/video_viewer" method="POST">
	<div style="width: 100%; height: 100%; background-color: lightgreen;" >
	<div style="height: auto; width: auto; padding-top: 1%; background-color:lightgreen; color:steelblue; text-align: center;">
		<h1 > Real time Survellieance system </h1>
		</div>
	<div style="float:left; height: 60%; width: 100%; padding-top: 7%; background-color:lightseagreen;">
		<br />
		<button class="btn btn-primary btn-lg btn-block" type="submit" name="button" value="Face Detection">Face Detection</button>
		<br /><br />
		<button class="btn btn-primary btn-lg btn-block" type="submit" name="button" value="Object Detection">Object Detection</button>
		<br /><br />
		<button class="btn btn-primary btn-lg btn-block" type="submit" name="button" value="Motion Detection">Motion Detection</button>
      	<br /><br />
	  	</div>
	</div>
	</form>
</body>
</html>